.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.iconButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #111827;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  text-align: center;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #9333ea;
  margin-bottom: 2rem;
}

.illustration {
  max-width: 400px;
  height: auto;
  margin-bottom: 1.5rem;
}

.description {
  max-width: 600px;
  font-size: 1rem;
  color: #444952;
  margin-bottom: 2rem;
}

.createButton {
  background-color: #1e0e3f;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
}
