.card {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 0.75rem 1.25rem;
  width: 320px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.icon {
  width: 72px;
  height: 72px;
  border-radius: 12px;
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #7e22ce;
}

.files {
  margin-top: 5px;
  font-size: 0.75rem;
  color: #6b7280;
}

.edited {
  font-size: 0.75rem;
  color: #9ca3af;
  margin-top: auto;
  margin-bottom: 0.3rem;
}
